In [4]:
import pandas as pd
import numpy as np
import operator

# reading data

# directory = 'instacart_2017_05_01/'
directory = './instacart_2017_05_01/'

print('Loading prior orders')
prior_orders = pd.read_csv(directory + 'order_products__prior.csv', dtype={
        'order_id': np.int32,
        'product_id': np.int32,
        'add_to_cart_order': np.int16,
        'reordered': np.int8}, nrows=652000)

print('Loading orders')
orders = pd.read_csv(directory + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, nrows=68000)

print('Loading aisles info')
aisles = pd.read_csv(directory + 'products.csv', engine='c',
                           usecols = ['product_id','aisle_id'],
                       dtype={'product_id': np.int32, 'aisle_id': np.int32}, nrows=1000)

pd.set_option('display.float_format', lambda x: '%.3f' % x)

print("\n Checking the loaded CSVs")
print("Prior orders:", prior_orders.shape)
print("Orders", orders.shape)
print("Aisles:", aisles.shape)

Loading prior orders
Loading orders
Loading aisles info

 Checking the loaded CSVs
('Prior orders:', (652000, 4))
('Orders', (68000, 7))
('Aisles:', (1000, 2))

In [5]:
prior_orders.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,nan
1,2398795,1,prior,2,3,7,15.000
2,473747,1,prior,3,3,12,21.000
3,2254736,1,prior,4,4,7,29.000
4,431534,1,prior,5,4,15,28.000

In [7]:
aisles.head()

   product_id  aisle_id
0           1        61
1           2       104
2           3        94
3           4        38
4           5         5

In [8]:
# removing all user_ids not in the test set from both files to save memory
# the test users present ample data to make models. (and saves space)

test  = orders[orders['eval_set'] == 'test' ]
user_ids = test['user_id'].values
orders = orders[orders['user_id'].isin(user_ids)]

test.shape

(1492, 7)

In [9]:
# Calculate the Prior : p(reordered|product_id)

prior = pd.DataFrame(prior_orders.groupby('product_id')['reordered']     \
                     .agg([('number_of_orders',len),('sum_of_reorders','sum')]))

prior['prior_p'] = (prior['sum_of_reorders']+1)/(prior['number_of_orders']+2) # Informed Prior
# prior['prior_p'] = 1/2  # Flat Prior
# prior.drop(['number_of_orders','sum_of_reorders'], axis=1, inplace=True)

print('Here is The Prior: our first guess of how probable it is that a product be reordered once it has been ordered.')
prior.head()

Here is The Prior: our first guess of how probable it is that a product be reordered once it has been ordered.

            number_of_orders  sum_of_reorders  prior_p
product_id
1                         42           29.000    0.682
2                          2            0.000    0.250
3                          3            2.000    0.600
4                          6            2.000    0.375
8                          1            0.000    0.333

In [10]:
# merge everything into one dataframe and save any memory space

comb = pd.DataFrame()
comb = pd.merge(prior_orders, orders, on='order_id', how='right')

# slim down comb - 
comb.drop(['eval_set','order_dow','order_hour_of_day'], axis=1, inplace=True)
del prior_orders
del orders

comb = pd.merge(comb, aisles, on ='product_id', how = 'left')
del aisles

prior.reset_index(inplace = True)
comb = pd.merge(comb, prior, on ='product_id', how = 'left')
del prior

print('combined data in DataFrame comb')
comb.head()

combined data in DataFrame comb

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p
0,85,16797.000,1.000,1.000,4041,25,7.000,nan,2844.000,1999.000,0.703
1,85,19691.000,2.000,0.000,4041,25,7.000,nan,253.000,152.000,0.600
2,85,32259.000,3.000,0.000,4041,25,7.000,nan,15.000,7.000,0.471
3,85,20217.000,4.000,0.000,4041,25,7.000,nan,9.000,2.000,0.273
4,85,21349.000,5.000,0.000,4041,25,7.000,nan,13.000,9.000,0.667

In [11]:
recount = pd.DataFrame()
recount['reorder_c'] = comb.groupby(comb.order_id)['reordered'].sum().fillna(0)
bins = [-0.1, 0, 2,4,6,8,11,14,19,71]
cat =  ['None','<=2','<=4','<=6','<=8','<=11','<=14','<=19','>19']
recount['reorder_b'] = pd.cut(recount['reorder_c'], bins, labels = cat)
recount.reset_index(inplace = True)

comb = pd.merge(comb, recount, how = 'left', on = 'order_id')
del recount
comb.head(50)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b
0,85,16797.000,1.000,1.000,4041,25,7.000,nan,2844.000,1999.000,0.703,3.000,<=4
1,85,19691.000,2.000,0.000,4041,25,7.000,nan,253.000,152.000,0.600,3.000,<=4
2,85,32259.000,3.000,0.000,4041,25,7.000,nan,15.000,7.000,0.471,3.000,<=4
3,85,20217.000,4.000,0.000,4041,25,7.000,nan,9.000,2.000,0.273,3.000,<=4
4,85,21349.000,5.000,0.000,4041,25,7.000,nan,13.000,9.000,0.667,3.000,<=4
5,85,33776.000,6.000,0.000,4041,25,7.000,nan,9.000,0.000,0.091,3.000,<=4
6,85,41611.000,7.000,0.000,4041,25,7.000,nan,2.000,1.000,0.500,3.000,<=4
7,85,34063.000,8.000,1.000,4041,25,7.000,nan,38.000,26.000,0.675,3.000,<=4
8,85,42240.000,9.000,1.000,4041,25,7.000,nan,122.000,57.000,0.468,3.000,<=4
9,214,5499.000,1.000,0.000,503,5,9.000,nan,36.000,14.000,0.395,3.000,<=4
10,214,8424.000,2.000,0.000,503,5,9.000,nan,841.000,531.000,0.631,3.000,<=4
11,214,37053.000,3.000,0.000,503,5,9.000,nan,107.000,50.000,0.468,3.000,<=4
12,214,24852.000,4.000,1.000,503,5,9.000,nan,9648.000,8103.000,0.840,3.000,<=4
13,214,21329.000,5.000,0.000,503,5,9.000,nan,18.000,8.000,0.450,3.000,<=4
14,214,25093.000,6.000,1.000,503,5,9.000,nan,86.000,55.000,0.636,3.000,<=4
15,214,25043.000,7.000,0.000,503,5,9.000,nan,98.000,54.000,0.550,3.000,<=4
16,214,25890.000,8.000,1.000,503,5,9.000,nan,1021.000,661.000,0.647,3.000,<=4
17,214,40545.000,9.000,0.000,503,5,9.000,nan,301.000,167.000,0.554,3.000,<=4
18,377,19678.000,1.000,1.000,1868,65,2.000,nan,641.000,428.000,0.667,11.000,<=11
19,377,21405.000,2.000,1.000,1868,65,2.000,nan,544.000,329.000,0.604,11.000,<=11
20,377,38383.000,3.000,1.000,1868,65,2.000,nan,466.000,311.000,0.667,11.000,<=11
21,377,38153.000,4.000,1.000,1868,65,2.000,nan,2.000,2.000,0.750,11.000,<=11
22,377,28928.000,5.000,1.000,1868,65,2.000,nan,174.000,108.000,0.619,11.000,<=11
23,377,18288.000,6.000,1.000,1868,65,2.000,nan,255.000,167.000,0.654,11.000,<=11
24,377,26032.000,7.000,1.000,1868,65,2.000,nan,110.000,66.000,0.598,11.000,<=11
25,377,29228.000,8.000,1.000,1868,65,2.000,nan,15.000,4.000,0.294,11.000,<=11
26,377,13805.000,9.000,1.000,1868,65,2.000,nan,15.000,10.000,0.647,11.000,<=11
27,377,33000.000,10.000,1.000,1868,65,2.000,nan,686.000,471.000,0.686,11.000,<=11
28,377,14129.000,11.000,1.000,1868,65,2.000,nan,168.000,79.000,0.471,11.000,<=11
29,629,34126.000,1.000,1.000,3351,3,30.000,nan,1165.000,701.000,0.602,3.000,<=4
30,629,30305.000,2.000,1.000,3351,3,30.000,nan,159.000,81.000,0.509,3.000,<=4
31,629,11895.000,3.000,0.000,3351,3,30.000,nan,3.000,0.000,0.200,3.000,<=4
32,629,46069.000,4.000,0.000,3351,3,30.000,nan,196.000,121.000,0.616,3.000,<=4
33,629,38419.000,5.000,0.000,3351,3,30.000,nan,67.000,20.000,0.304,3.000,<=4
34,629,16325.000,6.000,0.000,3351,3,30.000,nan,37.000,5.000,0.154,3.000,<=4
35,629,5912.000,7.000,0.000,3351,3,30.000,nan,58.000,12.000,0.217,3.000,<=4
36,629,4086.000,8.000,1.000,3351,3,30.000,nan,210.000,85.000,0.406,3.000,<=4
37,629,17794.000,9.000,0.000,3351,3,30.000,nan,1476.000,942.000,0.638,3.000,<=4
38,629,8903.000,10.000,0.000,3351,3,30.000,nan,65.000,36.000,0.552,3.000,<=4
39,629,13070.000,11.000,0.000,3351,3,30.000,nan,17.000,11.000,0.632,3.000,<=4
40,629,43140.000,12.000,0.000,3351,3,30.000,nan,3.000,1.000,0.400,3.000,<=4
41,637,49621.000,1.000,1.000,1177,23,10.000,nan,79.000,58.000,0.728,4.000,<=4
42,637,21137.000,2.000,1.000,1177,23,10.000,nan,5287.000,4094.000,0.774,4.000,<=4
43,637,34949.000,3.000,1.000,1177,23,10.000,nan,41.000,28.000,0.674,4.000,<=4
44,637,24841.000,4.000,0.000,1177,23,10.000,nan,224.000,162.000,0.721,4.000,<=4
45,637,14633.000,5.000,0.000,1177,23,10.000,nan,169.000,107.000,0.632,4.000,<=4
46,637,7175.000,6.000,1.000,1177,23,10.000,nan,226.000,127.000,0.561,4.000,<=4
47,708,23039.000,1.000,1.000,1873,4,30.000,nan,19.000,14.000,0.714,2.000,<=2
48,708,5077.000,2.000,0.000,1873,4,30.000,nan,1215.000,912.000,0.750,2.000,<=2
49,708,47626.000,3.000,0.000,1873,4,30.000,nan,3073.000,2123.000,0.691,2.000,<=2

In [12]:
bins = [0,2,3,5,7,9,12,17,80]
cat = ['<=2','<=3','<=5','<=7','<=9','<=12','<=17','>17']

comb['atco1'] = pd.cut(comb['add_to_cart_order'], bins, labels = cat)
del comb['add_to_cart_order']
print('comb')
comb.head(50)

comb

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b,atco1
0,85,16797.000,1.000,4041,25,7.000,nan,2844.000,1999.000,0.703,3.000,<=4,<=2
1,85,19691.000,0.000,4041,25,7.000,nan,253.000,152.000,0.600,3.000,<=4,<=2
2,85,32259.000,0.000,4041,25,7.000,nan,15.000,7.000,0.471,3.000,<=4,<=3
3,85,20217.000,0.000,4041,25,7.000,nan,9.000,2.000,0.273,3.000,<=4,<=5
4,85,21349.000,0.000,4041,25,7.000,nan,13.000,9.000,0.667,3.000,<=4,<=5
5,85,33776.000,0.000,4041,25,7.000,nan,9.000,0.000,0.091,3.000,<=4,<=7
6,85,41611.000,0.000,4041,25,7.000,nan,2.000,1.000,0.500,3.000,<=4,<=7
7,85,34063.000,1.000,4041,25,7.000,nan,38.000,26.000,0.675,3.000,<=4,<=9
8,85,42240.000,1.000,4041,25,7.000,nan,122.000,57.000,0.468,3.000,<=4,<=9
9,214,5499.000,0.000,503,5,9.000,nan,36.000,14.000,0.395,3.000,<=4,<=2
10,214,8424.000,0.000,503,5,9.000,nan,841.000,531.000,0.631,3.000,<=4,<=2
11,214,37053.000,0.000,503,5,9.000,nan,107.000,50.000,0.468,3.000,<=4,<=3
12,214,24852.000,1.000,503,5,9.000,nan,9648.000,8103.000,0.840,3.000,<=4,<=5
13,214,21329.000,0.000,503,5,9.000,nan,18.000,8.000,0.450,3.000,<=4,<=5
14,214,25093.000,1.000,503,5,9.000,nan,86.000,55.000,0.636,3.000,<=4,<=7
15,214,25043.000,0.000,503,5,9.000,nan,98.000,54.000,0.550,3.000,<=4,<=7
16,214,25890.000,1.000,503,5,9.000,nan,1021.000,661.000,0.647,3.000,<=4,<=9
17,214,40545.000,0.000,503,5,9.000,nan,301.000,167.000,0.554,3.000,<=4,<=9
18,377,19678.000,1.000,1868,65,2.000,nan,641.000,428.000,0.667,11.000,<=11,<=2
19,377,21405.000,1.000,1868,65,2.000,nan,544.000,329.000,0.604,11.000,<=11,<=2
20,377,38383.000,1.000,1868,65,2.000,nan,466.000,311.000,0.667,11.000,<=11,<=3
21,377,38153.000,1.000,1868,65,2.000,nan,2.000,2.000,0.750,11.000,<=11,<=5
22,377,28928.000,1.000,1868,65,2.000,nan,174.000,108.000,0.619,11.000,<=11,<=5
23,377,18288.000,1.000,1868,65,2.000,nan,255.000,167.000,0.654,11.000,<=11,<=7
24,377,26032.000,1.000,1868,65,2.000,nan,110.000,66.000,0.598,11.000,<=11,<=7
25,377,29228.000,1.000,1868,65,2.000,nan,15.000,4.000,0.294,11.000,<=11,<=9
26,377,13805.000,1.000,1868,65,2.000,nan,15.000,10.000,0.647,11.000,<=11,<=9
27,377,33000.000,1.000,1868,65,2.000,nan,686.000,471.000,0.686,11.000,<=11,<=12
28,377,14129.000,1.000,1868,65,2.000,nan,168.000,79.000,0.471,11.000,<=11,<=12
29,629,34126.000,1.000,3351,3,30.000,nan,1165.000,701.000,0.602,3.000,<=4,<=2
30,629,30305.000,1.000,3351,3,30.000,nan,159.000,81.000,0.509,3.000,<=4,<=2
31,629,11895.000,0.000,3351,3,30.000,nan,3.000,0.000,0.200,3.000,<=4,<=3
32,629,46069.000,0.000,3351,3,30.000,nan,196.000,121.000,0.616,3.000,<=4,<=5
33,629,38419.000,0.000,3351,3,30.000,nan,67.000,20.000,0.304,3.000,<=4,<=5
34,629,16325.000,0.000,3351,3,30.000,nan,37.000,5.000,0.154,3.000,<=4,<=7
35,629,5912.000,0.000,3351,3,30.000,nan,58.000,12.000,0.217,3.000,<=4,<=7
36,629,4086.000,1.000,3351,3,30.000,nan,210.000,85.000,0.406,3.000,<=4,<=9
37,629,17794.000,0.000,3351,3,30.000,nan,1476.000,942.000,0.638,3.000,<=4,<=9
38,629,8903.000,0.000,3351,3,30.000,nan,65.000,36.000,0.552,3.000,<=4,<=12
39,629,13070.000,0.000,3351,3,30.000,nan,17.000,11.000,0.632,3.000,<=4,<=12
40,629,43140.000,0.000,3351,3,30.000,nan,3.000,1.000,0.400,3.000,<=4,<=12
41,637,49621.000,1.000,1177,23,10.000,nan,79.000,58.000,0.728,4.000,<=4,<=2
42,637,21137.000,1.000,1177,23,10.000,nan,5287.000,4094.000,0.774,4.000,<=4,<=2
43,637,34949.000,1.000,1177,23,10.000,nan,41.000,28.000,0.674,4.000,<=4,<=3
44,637,24841.000,0.000,1177,23,10.000,nan,224.000,162.000,0.721,4.000,<=4,<=5
45,637,14633.000,0.000,1177,23,10.000,nan,169.000,107.000,0.632,4.000,<=4,<=5
46,637,7175.000,1.000,1177,23,10.000,nan,226.000,127.000,0.561,4.000,<=4,<=7
47,708,23039.000,1.000,1873,4,30.000,nan,19.000,14.000,0.714,2.000,<=2,<=2
48,708,5077.000,0.000,1873,4,30.000,nan,1215.000,912.000,0.750,2.000,<=2,<=2
49,708,47626.000,0.000,1873,4,30.000,nan,3073.000,2123.000,0.691,2.000,<=2,<=3

In [13]:
atco_fac = pd.DataFrame()
atco_fac = comb.groupby(['reordered', 'atco1'])['atco1'].agg(np.count_nonzero).unstack('atco1')

tot = pd.DataFrame()
tot = np.sum(atco_fac,axis=1)

atco_fac = atco_fac.iloc[:,:].div(tot, axis=0)
atco_fac = atco_fac.stack('atco1')
atco_fac = pd.DataFrame(atco_fac)
atco_fac.reset_index(inplace = True)
atco_fac.rename(columns = {0:'atco_fac_p'}, inplace = True)

comb = pd.merge(comb, atco_fac, how='left', on=('reordered', 'atco1'))
comb.head(50)

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b,atco1,atco_fac_p
0,85,16797.000,1.000,4041,25,7.000,nan,2844.000,1999.000,0.703,3.000,<=4,<=2,0.226
1,85,19691.000,0.000,4041,25,7.000,nan,253.000,152.000,0.600,3.000,<=4,<=2,0.155
2,85,32259.000,0.000,4041,25,7.000,nan,15.000,7.000,0.471,3.000,<=4,<=3,0.077
3,85,20217.000,0.000,4041,25,7.000,nan,9.000,2.000,0.273,3.000,<=4,<=5,0.144
4,85,21349.000,0.000,4041,25,7.000,nan,13.000,9.000,0.667,3.000,<=4,<=5,0.144
5,85,33776.000,0.000,4041,25,7.000,nan,9.000,0.000,0.091,3.000,<=4,<=7,0.134
6,85,41611.000,0.000,4041,25,7.000,nan,2.000,1.000,0.500,3.000,<=4,<=7,0.134
7,85,34063.000,1.000,4041,25,7.000,nan,38.000,26.000,0.675,3.000,<=4,<=9,0.094
8,85,42240.000,1.000,4041,25,7.000,nan,122.000,57.000,0.468,3.000,<=4,<=9,0.094
9,214,5499.000,0.000,503,5,9.000,nan,36.000,14.000,0.395,3.000,<=4,<=2,0.155
10,214,8424.000,0.000,503,5,9.000,nan,841.000,531.000,0.631,3.000,<=4,<=2,0.155
11,214,37053.000,0.000,503,5,9.000,nan,107.000,50.000,0.468,3.000,<=4,<=3,0.077
12,214,24852.000,1.000,503,5,9.000,nan,9648.000,8103.000,0.840,3.000,<=4,<=5,0.168
13,214,21329.000,0.000,503,5,9.000,nan,18.000,8.000,0.450,3.000,<=4,<=5,0.144
14,214,25093.000,1.000,503,5,9.000,nan,86.000,55.000,0.636,3.000,<=4,<=7,0.118
15,214,25043.000,0.000,503,5,9.000,nan,98.000,54.000,0.550,3.000,<=4,<=7,0.134
16,214,25890.000,1.000,503,5,9.000,nan,1021.000,661.000,0.647,3.000,<=4,<=9,0.094
17,214,40545.000,0.000,503,5,9.000,nan,301.000,167.000,0.554,3.000,<=4,<=9,0.113
18,377,19678.000,1.000,1868,65,2.000,nan,641.000,428.000,0.667,11.000,<=11,<=2,0.226
19,377,21405.000,1.000,1868,65,2.000,nan,544.000,329.000,0.604,11.000,<=11,<=2,0.226
20,377,38383.000,1.000,1868,65,2.000,nan,466.000,311.000,0.667,11.000,<=11,<=3,0.099
21,377,38153.000,1.000,1868,65,2.000,nan,2.000,2.000,0.750,11.000,<=11,<=5,0.168
22,377,28928.000,1.000,1868,65,2.000,nan,174.000,108.000,0.619,11.000,<=11,<=5,0.168
23,377,18288.000,1.000,1868,65,2.000,nan,255.000,167.000,0.654,11.000,<=11,<=7,0.118
24,377,26032.000,1.000,1868,65,2.000,nan,110.000,66.000,0.598,11.000,<=11,<=7,0.118
25,377,29228.000,1.000,1868,65,2.000,nan,15.000,4.000,0.294,11.000,<=11,<=9,0.094
26,377,13805.000,1.000,1868,65,2.000,nan,15.000,10.000,0.647,11.000,<=11,<=9,0.094
27,377,33000.000,1.000,1868,65,2.000,nan,686.000,471.000,0.686,11.000,<=11,<=12,0.103
28,377,14129.000,1.000,1868,65,2.000,nan,168.000,79.000,0.471,11.000,<=11,<=12,0.103
29,629,34126.000,1.000,3351,3,30.000,nan,1165.000,701.000,0.602,3.000,<=4,<=2,0.226
30,629,30305.000,1.000,3351,3,30.000,nan,159.000,81.000,0.509,3.000,<=4,<=2,0.226
31,629,11895.000,0.000,3351,3,30.000,nan,3.000,0.000,0.200,3.000,<=4,<=3,0.077
32,629,46069.000,0.000,3351,3,30.000,nan,196.000,121.000,0.616,3.000,<=4,<=5,0.144
33,629,38419.000,0.000,3351,3,30.000,nan,67.000,20.000,0.304,3.000,<=4,<=5,0.144
34,629,16325.000,0.000,3351,3,30.000,nan,37.000,5.000,0.154,3.000,<=4,<=7,0.134
35,629,5912.000,0.000,3351,3,30.000,nan,58.000,12.000,0.217,3.000,<=4,<=7,0.134
36,629,4086.000,1.000,3351,3,30.000,nan,210.000,85.000,0.406,3.000,<=4,<=9,0.094
37,629,17794.000,0.000,3351,3,30.000,nan,1476.000,942.000,0.638,3.000,<=4,<=9,0.113
38,629,8903.000,0.000,3351,3,30.000,nan,65.000,36.000,0.552,3.000,<=4,<=12,0.124
39,629,13070.000,0.000,3351,3,30.000,nan,17.000,11.000,0.632,3.000,<=4,<=12,0.124
40,629,43140.000,0.000,3351,3,30.000,nan,3.000,1.000,0.400,3.000,<=4,<=12,0.124
41,637,49621.000,1.000,1177,23,10.000,nan,79.000,58.000,0.728,4.000,<=4,<=2,0.226
42,637,21137.000,1.000,1177,23,10.000,nan,5287.000,4094.000,0.774,4.000,<=4,<=2,0.226
43,637,34949.000,1.000,1177,23,10.000,nan,41.000,28.000,0.674,4.000,<=4,<=3,0.099
44,637,24841.000,0.000,1177,23,10.000,nan,224.000,162.000,0.721,4.000,<=4,<=5,0.144
45,637,14633.000,0.000,1177,23,10.000,nan,169.000,107.000,0.632,4.000,<=4,<=5,0.144
46,637,7175.000,1.000,1177,23,10.000,nan,226.000,127.000,0.561,4.000,<=4,<=7,0.118
47,708,23039.000,1.000,1873,4,30.000,nan,19.000,14.000,0.714,2.000,<=2,<=2,0.226
48,708,5077.000,0.000,1873,4,30.000,nan,1215.000,912.000,0.750,2.000,<=2,<=2,0.155
49,708,47626.000,0.000,1873,4,30.000,nan,3073.000,2123.000,0.691,2.000,<=2,<=3,0.077

In [14]:
aisle_fac = pd.DataFrame()
aisle_fac = comb.groupby(['reordered', 'atco1', 'aisle_id'])['aisle_id']\
                .agg(np.count_nonzero).unstack('aisle_id')

tot = np.sum(aisle_fac,axis=1)

aisle_fac = aisle_fac.iloc[:,:].div(tot, axis=0)
aisle_fac = aisle_fac.stack('aisle_id')
aisle_fac = pd.DataFrame(aisle_fac)
aisle_fac.reset_index(inplace = True)
aisle_fac.rename(columns = {0:'aisle_fac_p'}, inplace = True)

comb = pd.merge(comb, aisle_fac, how = 'left', on = ('aisle_id','reordered','atco1'))
comb.head(50)

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b,atco1,atco_fac_p,aisle_fac_p
0,85,16797.000,1.000,4041,25,7.000,nan,2844.000,1999.000,0.703,3.000,<=4,<=2,0.226,nan
1,85,19691.000,0.000,4041,25,7.000,nan,253.000,152.000,0.600,3.000,<=4,<=2,0.155,nan
2,85,32259.000,0.000,4041,25,7.000,nan,15.000,7.000,0.471,3.000,<=4,<=3,0.077,nan
3,85,20217.000,0.000,4041,25,7.000,nan,9.000,2.000,0.273,3.000,<=4,<=5,0.144,nan
4,85,21349.000,0.000,4041,25,7.000,nan,13.000,9.000,0.667,3.000,<=4,<=5,0.144,nan
5,85,33776.000,0.000,4041,25,7.000,nan,9.000,0.000,0.091,3.000,<=4,<=7,0.134,nan
6,85,41611.000,0.000,4041,25,7.000,nan,2.000,1.000,0.500,3.000,<=4,<=7,0.134,nan
7,85,34063.000,1.000,4041,25,7.000,nan,38.000,26.000,0.675,3.000,<=4,<=9,0.094,nan
8,85,42240.000,1.000,4041,25,7.000,nan,122.000,57.000,0.468,3.000,<=4,<=9,0.094,nan
9,214,5499.000,0.000,503,5,9.000,nan,36.000,14.000,0.395,3.000,<=4,<=2,0.155,nan
10,214,8424.000,0.000,503,5,9.000,nan,841.000,531.000,0.631,3.000,<=4,<=2,0.155,nan
11,214,37053.000,0.000,503,5,9.000,nan,107.000,50.000,0.468,3.000,<=4,<=3,0.077,nan
12,214,24852.000,1.000,503,5,9.000,nan,9648.000,8103.000,0.840,3.000,<=4,<=5,0.168,nan
13,214,21329.000,0.000,503,5,9.000,nan,18.000,8.000,0.450,3.000,<=4,<=5,0.144,nan
14,214,25093.000,1.000,503,5,9.000,nan,86.000,55.000,0.636,3.000,<=4,<=7,0.118,nan
15,214,25043.000,0.000,503,5,9.000,nan,98.000,54.000,0.550,3.000,<=4,<=7,0.134,nan
16,214,25890.000,1.000,503,5,9.000,nan,1021.000,661.000,0.647,3.000,<=4,<=9,0.094,nan
17,214,40545.000,0.000,503,5,9.000,nan,301.000,167.000,0.554,3.000,<=4,<=9,0.113,nan
18,377,19678.000,1.000,1868,65,2.000,nan,641.000,428.000,0.667,11.000,<=11,<=2,0.226,nan
19,377,21405.000,1.000,1868,65,2.000,nan,544.000,329.000,0.604,11.000,<=11,<=2,0.226,nan
20,377,38383.000,1.000,1868,65,2.000,nan,466.000,311.000,0.667,11.000,<=11,<=3,0.099,nan
21,377,38153.000,1.000,1868,65,2.000,nan,2.000,2.000,0.750,11.000,<=11,<=5,0.168,nan
22,377,28928.000,1.000,1868,65,2.000,nan,174.000,108.000,0.619,11.000,<=11,<=5,0.168,nan
23,377,18288.000,1.000,1868,65,2.000,nan,255.000,167.000,0.654,11.000,<=11,<=7,0.118,nan
24,377,26032.000,1.000,1868,65,2.000,nan,110.000,66.000,0.598,11.000,<=11,<=7,0.118,nan
25,377,29228.000,1.000,1868,65,2.000,nan,15.000,4.000,0.294,11.000,<=11,<=9,0.094,nan
26,377,13805.000,1.000,1868,65,2.000,nan,15.000,10.000,0.647,11.000,<=11,<=9,0.094,nan
27,377,33000.000,1.000,1868,65,2.000,nan,686.000,471.000,0.686,11.000,<=11,<=12,0.103,nan
28,377,14129.000,1.000,1868,65,2.000,nan,168.000,79.000,0.471,11.000,<=11,<=12,0.103,nan
29,629,34126.000,1.000,3351,3,30.000,nan,1165.000,701.000,0.602,3.000,<=4,<=2,0.226,nan
30,629,30305.000,1.000,3351,3,30.000,nan,159.000,81.000,0.509,3.000,<=4,<=2,0.226,nan
31,629,11895.000,0.000,3351,3,30.000,nan,3.000,0.000,0.200,3.000,<=4,<=3,0.077,nan
32,629,46069.000,0.000,3351,3,30.000,nan,196.000,121.000,0.616,3.000,<=4,<=5,0.144,nan
33,629,38419.000,0.000,3351,3,30.000,nan,67.000,20.000,0.304,3.000,<=4,<=5,0.144,nan
34,629,16325.000,0.000,3351,3,30.000,nan,37.000,5.000,0.154,3.000,<=4,<=7,0.134,nan
35,629,5912.000,0.000,3351,3,30.000,nan,58.000,12.000,0.217,3.000,<=4,<=7,0.134,nan
36,629,4086.000,1.000,3351,3,30.000,nan,210.000,85.000,0.406,3.000,<=4,<=9,0.094,nan
37,629,17794.000,0.000,3351,3,30.000,nan,1476.000,942.000,0.638,3.000,<=4,<=9,0.113,nan
38,629,8903.000,0.000,3351,3,30.000,nan,65.000,36.000,0.552,3.000,<=4,<=12,0.124,nan
39,629,13070.000,0.000,3351,3,30.000,nan,17.000,11.000,0.632,3.000,<=4,<=12,0.124,nan
40,629,43140.000,0.000,3351,3,30.000,nan,3.000,1.000,0.400,3.000,<=4,<=12,0.124,nan
41,637,49621.000,1.000,1177,23,10.000,nan,79.000,58.000,0.728,4.000,<=4,<=2,0.226,nan
42,637,21137.000,1.000,1177,23,10.000,nan,5287.000,4094.000,0.774,4.000,<=4,<=2,0.226,nan
43,637,34949.000,1.000,1177,23,10.000,nan,41.000,28.000,0.674,4.000,<=4,<=3,0.099,nan
44,637,24841.000,0.000,1177,23,10.000,nan,224.000,162.000,0.721,4.000,<=4,<=5,0.144,nan
45,637,14633.000,0.000,1177,23,10.000,nan,169.000,107.000,0.632,4.000,<=4,<=5,0.144,nan
46,637,7175.000,1.000,1177,23,10.000,nan,226.000,127.000,0.561,4.000,<=4,<=7,0.118,nan
47,708,23039.000,1.000,1873,4,30.000,nan,19.000,14.000,0.714,2.000,<=2,<=2,0.226,nan
48,708,5077.000,0.000,1873,4,30.000,nan,1215.000,912.000,0.750,2.000,<=2,<=2,0.155,nan
49,708,47626.000,0.000,1873,4,30.000,nan,3073.000,2123.000,0.691,2.000,<=2,<=3,0.077,nan

In [15]:
recount_fac = pd.DataFrame()
recount_fac = comb.groupby(['reordered', 'atco1', 'reorder_b'])['reorder_b']\
                    .agg(np.count_nonzero).unstack('reorder_b')

tot = pd.DataFrame()
tot = np.sum(recount_fac,axis=1)

recount_fac = recount_fac.iloc[:,:].div(tot, axis=0)
recount_fac.stack('reorder_b')
recount_fac = pd.DataFrame(recount_fac.unstack('reordered').unstack('atco1')).reset_index()
recount_fac.rename(columns = {0:'recount_fac_p'}, inplace = True)

comb = pd.merge(comb, recount_fac, how = 'left', on = ('reorder_b', 'reordered', 'atco1'))
recount_fac.head(50)

   reorder_b  reordered atco1  recount_fac_p
0       None      0.000   <=2          0.397
1       None      0.000   <=3          0.302
2       None      0.000   <=5          0.270
3       None      0.000   <=7          0.222
4       None      0.000   <=9          0.233
5       None      0.000  <=12          0.199
6       None      0.000  <=17          0.202
7       None      0.000   >17          0.157
8       None      1.000   <=2            nan
9       None      1.000   <=3            nan
10      None      1.000   <=5            nan
11      None      1.000   <=7            nan
12      None      1.000   <=9            nan
13      None      1.000  <=12            nan
14      None      1.000  <=17            nan
15      None      1.000   >17            nan
16       <=2      0.000   <=2          0.305
17       <=2      0.000   <=3          0.322
18       <=2      0.000   <=5          0.263
19       <=2      0.000   <=7          0.192
20       <=2      0.000   <=9          0.155
21       <=2      0.000  <=12          0.116
22       <=2      0.000  <=17          0.084
23       <=2      0.000   >17          0.008
24       <=2      1.000   <=2          0.155
25       <=2      1.000   <=3          0.082
26       <=2      1.000   <=5          0.038
27       <=2      1.000   <=7          0.013
28       <=2      1.000   <=9          0.016
29       <=2      1.000  <=12          0.011
30       <=2      1.000  <=17          0.008
31       <=2      1.000   >17            nan
32       <=4      0.000   <=2          0.142
33       <=4      0.000   <=3          0.208
34       <=4      0.000   <=5          0.274
35       <=4      0.000   <=7          0.226
36       <=4      0.000   <=9          0.155
37       <=4      0.000  <=12          0.137
38       <=4      0.000  <=17          0.080
39       <=4      0.000   >17          0.039
40       <=4      1.000   <=2          0.219
41       <=4      1.000   <=3          0.213
42       <=4      1.000   <=5          0.135
43       <=4      1.000   <=7          0.072
44       <=4      1.000   <=9          0.075
45       <=4      1.000  <=12          0.032
46       <=4      1.000  <=17          0.019
47       <=4      1.000   >17          0.004
48       <=6      0.000   <=2          0.033
49       <=6      0.000   <=3          0.067

In [16]:
p = pd.DataFrame()
p = (comb.loc[:,'atco_fac_p'] * comb.loc[:,'aisle_fac_p'] * comb.loc[:,'recount_fac_p'])
p.reset_index()
comb['p'] = p

comb.head(30)

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b,atco1,atco_fac_p,aisle_fac_p,recount_fac_p,p
0,85,16797.000,1.000,4041,25,7.000,nan,2844.000,1999.000,0.703,3.000,<=4,<=2,0.226,nan,0.219,nan
1,85,19691.000,0.000,4041,25,7.000,nan,253.000,152.000,0.600,3.000,<=4,<=2,0.155,nan,0.142,nan
2,85,32259.000,0.000,4041,25,7.000,nan,15.000,7.000,0.471,3.000,<=4,<=3,0.077,nan,0.208,nan
3,85,20217.000,0.000,4041,25,7.000,nan,9.000,2.000,0.273,3.000,<=4,<=5,0.144,nan,0.274,nan
4,85,21349.000,0.000,4041,25,7.000,nan,13.000,9.000,0.667,3.000,<=4,<=5,0.144,nan,0.274,nan
5,85,33776.000,0.000,4041,25,7.000,nan,9.000,0.000,0.091,3.000,<=4,<=7,0.134,nan,0.226,nan
6,85,41611.000,0.000,4041,25,7.000,nan,2.000,1.000,0.500,3.000,<=4,<=7,0.134,nan,0.226,nan
7,85,34063.000,1.000,4041,25,7.000,nan,38.000,26.000,0.675,3.000,<=4,<=9,0.094,nan,0.075,nan
8,85,42240.000,1.000,4041,25,7.000,nan,122.000,57.000,0.468,3.000,<=4,<=9,0.094,nan,0.075,nan
9,214,5499.000,0.000,503,5,9.000,nan,36.000,14.000,0.395,3.000,<=4,<=2,0.155,nan,0.142,nan
10,214,8424.000,0.000,503,5,9.000,nan,841.000,531.000,0.631,3.000,<=4,<=2,0.155,nan,0.142,nan
11,214,37053.000,0.000,503,5,9.000,nan,107.000,50.000,0.468,3.000,<=4,<=3,0.077,nan,0.208,nan
12,214,24852.000,1.000,503,5,9.000,nan,9648.000,8103.000,0.840,3.000,<=4,<=5,0.168,nan,0.135,nan
13,214,21329.000,0.000,503,5,9.000,nan,18.000,8.000,0.450,3.000,<=4,<=5,0.144,nan,0.274,nan
14,214,25093.000,1.000,503,5,9.000,nan,86.000,55.000,0.636,3.000,<=4,<=7,0.118,nan,0.072,nan
15,214,25043.000,0.000,503,5,9.000,nan,98.000,54.000,0.550,3.000,<=4,<=7,0.134,nan,0.226,nan
16,214,25890.000,1.000,503,5,9.000,nan,1021.000,661.000,0.647,3.000,<=4,<=9,0.094,nan,0.075,nan
17,214,40545.000,0.000,503,5,9.000,nan,301.000,167.000,0.554,3.000,<=4,<=9,0.113,nan,0.155,nan
18,377,19678.000,1.000,1868,65,2.000,nan,641.000,428.000,0.667,11.000,<=11,<=2,0.226,nan,0.155,nan
19,377,21405.000,1.000,1868,65,2.000,nan,544.000,329.000,0.604,11.000,<=11,<=2,0.226,nan,0.155,nan
20,377,38383.000,1.000,1868,65,2.000,nan,466.000,311.000,0.667,11.000,<=11,<=3,0.099,nan,0.175,nan
21,377,38153.000,1.000,1868,65,2.000,nan,2.000,2.000,0.750,11.000,<=11,<=5,0.168,nan,0.197,nan
22,377,28928.000,1.000,1868,65,2.000,nan,174.000,108.000,0.619,11.000,<=11,<=5,0.168,nan,0.197,nan
23,377,18288.000,1.000,1868,65,2.000,nan,255.000,167.000,0.654,11.000,<=11,<=7,0.118,nan,0.255,nan
24,377,26032.000,1.000,1868,65,2.000,nan,110.000,66.000,0.598,11.000,<=11,<=7,0.118,nan,0.255,nan
25,377,29228.000,1.000,1868,65,2.000,nan,15.000,4.000,0.294,11.000,<=11,<=9,0.094,nan,0.289,nan
26,377,13805.000,1.000,1868,65,2.000,nan,15.000,10.000,0.647,11.000,<=11,<=9,0.094,nan,0.289,nan
27,377,33000.000,1.000,1868,65,2.000,nan,686.000,471.000,0.686,11.000,<=11,<=12,0.103,nan,0.280,nan
28,377,14129.000,1.000,1868,65,2.000,nan,168.000,79.000,0.471,11.000,<=11,<=12,0.103,nan,0.280,nan
29,629,34126.000,1.000,3351,3,30.000,nan,1165.000,701.000,0.602,3.000,<=4,<=2,0.226,nan,0.219,nan

In [19]:
# Calculate bf0 for products when first purchased aka reordered=0
comb0 = pd.DataFrame()
comb0 = comb[comb['reordered']==0]
comb0.loc[:,'first_order'] = comb0['order_number']
# now every product that was ordered has a posterior in usr.
comb0.loc[:,'beta'] = 1
comb0.loc[:,'bf'] = (comb0.loc[:,'prior_p'] * comb0.loc[:,'p']/(1 - comb0.loc[:,'p'])) # bf1
# Small 'slight of hand' here. comb0.bf is really the first posterior and second prior.

# Calculate beta and BF1 for the reordered products
comb1 = pd.DataFrame()
comb1 = comb[comb['reordered']==1]

comb1.loc[:,'beta'] = (1 - .05*comb1.loc[:,'days_since_prior_order']/30)
comb1.loc[:,'bf'] = (1 - comb1.loc[:,'p'])/comb1.loc[:,'p'] # bf0


comb_last = pd.DataFrame()
comb_last = pd.concat([comb0, comb1], axis=0).reset_index(drop=True)

comb_last = comb_last[['reordered', 'user_id', 'order_id', 'product_id','reorder_c','order_number',
                       'bf','beta','atco_fac_p', 'aisle_fac_p', 'recount_fac_p']]
comb_last = comb_last.sort_values((['user_id', 'order_number', 'bf']))

pd.set_option('display.float_format', lambda x: '%.6f' % x)
comb_last.head()

,reordered,user_id,order_id,product_id,reorder_c,order_number,bf,beta,atco_fac_p,aisle_fac_p,recount_fac_p
363,0.000000,36,14400,30415.000000,1.000000,10,nan,1.000000,0.155270,nan,0.304636
364,0.000000,36,14400,1654.000000,1.000000,10,nan,1.000000,0.155270,nan,0.304636
2477,1.000000,36,14400,11079.000000,1.000000,10,nan,0.998333,0.099407,nan,0.082090
1343,0.000000,54,51418,38231.000000,5.000000,29,nan,1.000000,0.144473,nan,0.064057
1344,0.000000,54,51418,16521.000000,5.000000,29,nan,1.000000,0.134190,nan,0.160920

In [20]:
first_order = pd.DataFrame()
first_order = comb_last[comb_last.reordered == 0]
first_order.rename(columns = {'order_number':'first_o'}, inplace = True)
first_order.loc[:,'last_o'] = comb_last.groupby(['user_id'])['order_number'].transform(max)
first_order = first_order[['user_id','product_id','first_o','last_o']]

comb_last = pd.merge(comb_last, first_order, on = ('user_id', 'product_id'), how = 'left')
comb_last.head()

#com = pd.DataFrame()
#com = comb_last[(comb_last.user_id == 3) & (comb_last.first_o < comb_last.order_number)]
#com.groupby([('order_id', 'product_id', 'order_number')])['bf'].agg(np.sum).head(50)

/usr/local/lib/python2.7/dist-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,reordered,user_id,order_id,product_id,reorder_c,order_number,bf,beta,atco_fac_p,aisle_fac_p,recount_fac_p,first_o,last_o
0,0.000000,36,14400,30415.000000,1.000000,10,nan,1.000000,0.155270,nan,0.304636,10.000000,10.000000
1,0.000000,36,14400,1654.000000,1.000000,10,nan,1.000000,0.155270,nan,0.304636,10.000000,10.000000
2,1.000000,36,14400,11079.000000,1.000000,10,nan,0.998333,0.099407,nan,0.082090,nan,nan
3,0.000000,54,51418,38231.000000,5.000000,29,nan,1.000000,0.144473,nan,0.064057,29.000000,29.000000
4,0.000000,54,51418,16521.000000,5.000000,29,nan,1.000000,0.134190,nan,0.160920,29.000000,29.000000

In [21]:
temp = pd.pivot_table(comb_last[(comb_last.user_id == 3) & (comb_last.first_o == comb_last.order_number)],
                     values = 'bf', index = ['user_id', 'product_id'],
                     columns = 'order_number', dropna=False)
temp.head(10)

Empty DataFrame
Columns: []
Index: []

In [22]:
temp = temp.fillna(method='pad', axis=1).fillna(1)
temp.head(10)

Empty DataFrame
Columns: []
Index: []

In [23]:
pd.pivot_table(comb_last[comb_last.first_o <= comb_last.order_number],
                              values = 'bf', index = ['user_id', 'product_id'],
                              columns = 'order_number').head(10)

order_number          1   2   3   4   6   7   8   9   10  11  12  18  21  27  \
user_id product_id
36      1654.000000  nan nan nan nan nan nan nan nan nan nan nan nan nan nan
        30415.000000 nan nan nan nan nan nan nan nan nan nan nan nan nan nan
54      16521.000000 nan nan nan nan nan nan nan nan nan nan nan nan nan nan
        38231.000000 nan nan nan nan nan nan nan nan nan nan nan nan nan nan
57      23622.000000 nan nan nan nan nan nan nan nan nan nan nan nan nan nan
        24852.000000 nan nan nan nan nan nan nan nan nan nan nan nan nan nan
        35108.000000 nan nan nan nan nan nan nan nan nan nan nan nan nan nan
68      6649.000000  nan nan nan nan nan nan nan nan nan nan nan nan nan nan
        8656.000000  nan nan nan nan nan nan nan nan nan nan nan nan nan nan
        10644.000000 nan nan nan nan nan nan nan nan nan nan nan nan nan nan

order_number          29  34  43  54
user_id product_id
36      1654.000000  nan nan nan nan
        30415.000000 nan nan nan nan
54      16521.000000 nan nan nan nan
        38231.000000 nan nan nan nan
57      23622.000000 nan nan nan nan
        24852.000000 nan nan nan nan
        35108.000000 nan nan nan nan
68      6649.000000  nan nan nan nan
        8656.000000  nan nan nan nan
        10644.000000 nan nan nan nan

In [24]:
temp.update(pd.pivot_table(comb_last[comb_last.first_o <= comb_last.order_number],
                              values = 'bf', index = ['user_id', 'product_id'],
                              columns = 'order_number'))
temp.head(10)

Empty DataFrame
Columns: []
Index: []

In [25]:
import logging
logging.basicConfig(filename='bayes.log',level=logging.DEBUG)
logging.debug("Started Posterior calculations")
print("Started Posterior calculations")

pred = pd.DataFrame(columns=['user_id', 'product_id'])
# comb_last_temp = pd.DataFrame()
# com = pd.DataFrame()

for uid in comb_last.user_id.unique():
    if uid % 1000 == 0:
        print("Posterior calculated until user %d" % uid)
        logging.debug("Posterior calculated until user %d" % uid)
    
#     del comb_last_temp
    comb_last_temp = pd.DataFrame()
    comb_last_temp = comb_last[comb_last['user_id'] == uid].reset_index()
    
#     del com
    com = pd.DataFrame()
    com = pd.pivot_table(comb_last_temp[comb_last_temp.first_o == comb_last_temp.order_number],
                         values = 'bf', index = ['user_id', 'product_id'],
                         columns = 'order_number', dropna=False)
    com = com.fillna(method='pad', axis=1).fillna(1)
    com.update(pd.pivot_table(comb_last_temp[comb_last_temp.first_o <= comb_last_temp.order_number],
                              values = 'bf', index = ['user_id', 'product_id'],
                              columns = 'order_number'))

    com.reset_index(inplace=True)
    com['posterior'] = com.product(axis=1)
    
    pred = pred.append(com.sort_values(by=['posterior'], ascending=False).head(10)    \
                       .groupby('user_id')['product_id'].apply(list).reset_index())    

print("Posterior calculated for all users")
logging.debug("Posterior calculated for all users")
pred = pred.rename(columns={'product_id': 'products'})
pred.head()

Started Posterior calculations
Posterior calculated for all users

  user_id                                           products
0      36                                  [30415.0, 1654.0]
0      54                                 [38231.0, 16521.0]
0      57                        [35108.0, 24852.0, 23622.0]
0      68  [47547.0, 44359.0, 42445.0, 40377.0, 30233.0, ...
0      75  [47626.0, 47042.0, 45200.0, 44837.0, 44683.0, ...

In [26]:
pred = pred.merge(test, on='user_id', how='left')[['order_id', 'products']]
pred['products'] = pred['products'].apply(lambda x: [int(i) for i in x])    \
                    .astype(str).apply(lambda x: x.strip('[]').replace(',', ''))
pred.head()

   order_id                                           products
0   1320132                                         30415 1654
1   1325316                                        38231 16521
2    320326                                  35108 24852 23622
3   3024191  47547 44359 42445 40377 30233 23405 21863 2113...
4   1970262  47626 47042 45200 44837 44683 43713 43295 4070...

In [27]:
pred.to_csv('predictions.csv', index=False)